@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: #1c1c1c;
  letter-spacing: 1px;
}

.hero {
  font-family: "Anton", sans-serif;
}

.herosm {
  font-family: "Caveat", cursive;
  font-size: 40px;
}

.an1 {
  animation: moveUp 7s infinite forwards ease-in-out;
}

.an2 {
  animation: moveUp 8s infinite forwards ease-in-out;
}

@keyframes moveUp {
  0% {
    top: 0%;
  }
  50% {
    top: 50%;
    left: 0%;
  }
  100% {
    top: 0%;
  }
}

@media only screen and (max-width: 450px) {
  .hero {
    font-size: 150px !important;
  }
}
